@{
    ViewData["Title"] = "Read CSV";
}
<h1>@ViewData["Title"]</h1>

<p>Read CSV</p>

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["Records"]</h3>



<p>Use this area to provide additional information.</p>

